.button {
  background-color: rgb(132, 34, 230);
  background: linear-gradient(
    180deg,
    rgba(132, 34, 230, 1) 0%,
    rgba(132, 29, 234, 1) 54%,
    rgba(131, 25, 238, 1) 100%
  );
  color: var(--color-primary-white-card);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 18px;
  max-width: 13.3vw;
  max-height: 5.8vh;
  border-radius: var(--border-radius);
  border: none;
  box-shadow: 0px 10px 10px var(--color-secondary-gray);
  transition: all 0.2s ease;
  cursor: pointer;
}

.button:hover {
  background: none;
  background-color: var(--color-primary-violet);
  box-shadow: 0px 5px 5px var(--color-secondary-gray);
}

.button:disabled {
  background-color: rgb(116, 116, 116);
  background: linear-gradient(
    180deg,
    rgba(116, 116, 116, 1) 0%,
    rgba(82, 82, 82, 1) 100%
  );
}

.button--big {
  font-size: 32px;
  max-width: 100%;
  min-height: 11vh;
}

@media (max-width: 750px) {
  .button--big {
    font-size: 24px;
  }
}
