.instruction__wrapper {
  max-width: 32.65vw;
  max-height: 49.7vh;
  background-color: var(--color-primary-white-card);
  border-radius: var(--border-radius-large);
  display: flex;
  flex-direction: column;
  gap: 1.875vw;
  padding: 5.55vh 4.69vw 6.1vh;
  margin-left: 298px;
  margin-top: 120px;
  position: relative;
  margin-bottom: 200px;
}

.instruction__wrapper::before {
  content: url("../../assets/images/Polygon.png");
  position: absolute;
  right: -9px;
  bottom: -35px;
}

.instruction__wrapper-title {
  font-size: 42px;
  color: var(--color-primary-purple);
}

@media (max-width: 850px) {
  .instruction__wrapper {
    margin-left: 100px;
    margin-top: 100px;
  }
}
