@font-face {
  font-family: "Manrope";
  src: url("../src/assets/fonts/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../src/assets/fonts/Manrope-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../src/assets/fonts/Manrope-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary-purple: #320064;
  --color-primary-white: #fdf8f8;
  --color-primary-violet: #c896ff;
  --color-primary-white-card: #ffffff;
  --color-secondary-green: #49891a;
  --color-secondary-green-light: #63ac2e;
  --color-secondary-gray: #bbbbbb;
  --color-secondary-red-error: #fef3f3;
  --color-secondary-red-error-stroke: #ff1b1b;

  --font-family-base: "Manrope", sans-serif;

  --border-radius-small: 16px;
  --border-radius: 24px;
  --border-radius-large: 48px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
  outline: none;
}

html {
  height: 100%;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

svg *[fill] {
  fill: currentColor;
}
svg *[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-style: normal;
  font-family: var(--font-family-base);
  background-color: var(--color-secondary-gray);
}

.app {
  min-height: 100vh;
  padding-inline: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper__form {
  width: 72.5vw;
  height: 58vh;
  background-color: var(--color-primary-white-card);
  border-radius: var(--border-radius-large);
  display: grid;
  grid-template-columns: 23.4vw 34.4vw;
  gap: 3.6vw;
  overflow: hidden;
  padding: 8.3vh 5.5vw 9.1vh;
}

.wrapper__form-desc {
  display: flex;
  flex-direction: column;
  gap: 1.6vh;
}

.wrapper__form-title {
  font-size: 42px;
  color: var(--color-primary-purple);
}

@media (max-width: 1200px) {
  .wrapper__form-title {
    font-size: 36px;
  }
}

@media (max-width: 1000px) {
  .wrapper__form-title {
    font-size: 30px;
  }
}

@media (max-width: 750px) {
  .wrapper__form-title {
    font-size: 30px;
  }
}
